$size-100: .25rem;
$size-200: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;
$size-900: 5rem;

$clr-primary-400: hsl(193, 38%, 86%);
$clr-accent-400: hsl(150, 100%, 66%);

$clr-neutral-400: hsl(217, 19%, 38%);
$clr-neutral-600: hsl(217, 19%, 24%);
$clr-neutral-900: hsl(218, 23%, 16%);

$fs-200: .85rem;
$fs-400: 1.25rem; // 28px

$fw-800: 800;

$fs-body: $fs-400;
$fs-h3: $fs-200; 

$bp-mobile: 374px;

