@import "/src/app/styles/variables";

.advice-card {
  position: relative;
  color: $clr-primary-400;
  font-weight: $fw-800;
  // font-size: 20px;
  font-size: $fs-body;
  
  h3 {
    font-weight: 400;
    color: $clr-accent-400;
    letter-spacing: $size-100;
    text-transform: uppercase;
  }

  padding: $size-700;
  max-width: 350px;
  width: 90%;
  @media (min-width: $bp-mobile) {
    max-width: 700px;
    border-radius: 1rem;
  }

  // display: grid;
  // gap: $size-400;

  > * {
    text-align: center;

    display: flex;
    justify-content: center;
  }

 
  > :not(:last-child) {
    padding-bottom: $size-500;
  }

  background-color: $clr-neutral-600;
}

.btn {
  // position: absolute;
  // bottom: -20px;
  // left: 50%;
  // transform: translateX(-50%);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  text-decoration: none;

  padding: $size-400;

  background-color: $clr-accent-400;
  border: none;
  cursor: pointer;
}
