@import "/src/app/styles/variables";

.advice-card {
  position: relative;
  color: $clr-primary-400;
  font-weight: $fw-800;
  font-size: $fs-body;

  h3 {
    font-weight: 200;
    font-size: $fs-200;
    color: $clr-accent-400;
    letter-spacing: $size-100;
    text-transform: uppercase;
  }

  padding: $size-600 $size-400;
  min-width: 330px;
  border-radius: $fs-200;
  width: 90%;
  @media (min-width: $bp-mobile) {
    max-width: 450px;
    aspect-ratio: initial;
  }

  background-color: $clr-neutral-600;

  > * {
    text-align: center;

    display: flex;
    justify-content: center;
  }

  > :not(:last-child) {
    padding-bottom: $size-500;
  }
}

.quote {
  p::before {
    content: open-quote;
  }

  p::after {
    content: close-quote;
  }
}

.btn {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  text-decoration: none;

  padding: $size-400;

  background-color: $clr-accent-400;
  border: none;
  cursor: pointer;
}
